<div class="container">
  <div class="row ">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <p class="text-center">
      <h5 class="text-center">
        {% with flashes = get_flashed_messages() %}
          {% for msg in flashes %}
            {% if msg %}
              {{ msg }}
            {% endif %}
          {% endfor %}
          {% if not flashes %}
            {{ result }}
            <a href="{{ result_url }}">{{ result_url }}</a>
          {% endif %}
        {% endwith %}
      </h5>
      </p>
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>